* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: serif;
}
.spinner-border {
     display: none;
}
body {
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 100px;
     background: #fff;
}

table {
     border-collapse: collapse;
     width: 500px;
}
#container{
     display: flex;
     flex-direction: column;
     align-items: center;
}
td {
     width: 62px;
     height: 32px;
     text-align: center;
     border: 1px solid black;
     text-transform: capitalize;
     font-size: 17px;
     font-weight: 500;
     transition: 0.4s;
}
td:hover{
     background: #000;
     color: #fff;
     border: #fff;
}
#updateFrom {
     display: flex;
     flex-direction: column;
     gap: 10px;
     display: none;
     margin-bottom: 100px;
}
#updateFrom input , button {
     padding: 10px;
     border-radius: 5px;
     outline: none;
     font-size: 18px;
}
button {
     border: none;
     background-color: rgb(165, 30, 255);
     color: #fff;
}

button:hover{
     background: #000;
     color: #fff;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#addBtn {
     margin-bottom: 50px;
}
.show {
     display: flex !important;
}